*.db
.DS_Store
*.aux
*.log
*.synctex.gz
*.out
*.blg
*.toc
*.trc
*.xref
*.DS_Store
*.stc*
*.mtc*
*.maf
*.dll
*.auxlock
*.dpth
*.pdfsync
*.synctex
*.asv
*.lyx#
*.eps
*alias
*.lpc
*.nav
*.snm
*~
*.fls
*_latexmk
*.bib-save*
jm.sty
jm.bib
